#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* My CSS Styles starts here */

.nav-bar {
  background-color: white;
  width: 1500px;
  height: 70px;
	background-color: #c8dcfd;
  display: flex; 
  top: 0;
  
}

.footer {
  background-color: white;
  color: black;
  width: 1500px;
  height: 100px;
  margin-top: 700px;
  position: absolute;
  text-align: center; 
}

.site-logo {
  width: 50px;
  height: 50px;
  margin-left: 20px;
}

.cart-logo {
  width: 50px;
  height: 50px;
  margin-left: 100px;
 
}
.footer-title {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  margin-left: 20px;

}
.header-title {
  position: relative;
  font-family: sans-serif;
  margin-left: 900px;
  font-size: 18px;
  color: black;
}

.button-logout {
  background-color: blue;
  margin-top: auto;
  margin-bottom: 12px;
  width: 90px;
  height: 40px;
  /* margin-left: 800px;   */
}
.button-login {
  background-color: blue;
  margin-top: auto;
  margin-bottom: 12px;
  width: 90px;
  height: 40px;
   
}
.container {
  position: relative;
  width: 25%;
  height: 100;
  line-height: 60px;
  background-color: rgb(122, 16, 16);
  margin-top: 0px;
}

.search-bar {
  display: flex;
  width: 300px;
  position: absolute;
  height: 30px;
  border-radius: 0.5rem;
  background-color: #ffffff;
  color: #333333;
  margin-left: 120px;
  margin-top: 20px;
  text-align: center;
 
}
.links {
  color: red;
  text-align: center;  
}
.inner-text {
  font-family: Arial, Helvetica, sans-serif;
  color: red;
  font-size: 18px;
  text-align: center;
  background-color: red; 
}

.sidebar {
  margin-top: 0px;
	width: 250px;
	height: 450px;
	float: left;
	background-color: #414141;
}
.sidebar h2 {
	margin: 5px;
	color: red;
	font-family: calibri;
}

.sidebar a {
	color: cccccc;
	text-decoration: none;
	width: 250px;
	float: left;
	text-align: center;
	height:50px;
	line-height: 50px;
	background-color: white;
	border-top: 1px inset #cccccc;
	border-bottom: 1px outset #cccccc;
	font-family: calibri;
	font-size: 15px;
}
.sidebar a :hover {
  color: black;
  background-color: black;
}
.about-info h2{
  font-family: calibri;
	font-size: 22px;
  text-align: center;
}
.about-info p{
  font-family: calibri;
	font-size: 22px;
  text-align: center;
}